<div class="date-picker-container">
  <!-- Gregorian Date Picker (English) -->
  <div class="gregorian-datepicker">
    <mat-form-field appearance="outline">
      <mat-label>{{ getLabel() }}</mat-label>
      <input 
        matInput 
        [matDatepicker]="picker" 
        [(ngModel)]="selectedDate" 
        (dateChange)="onDateChange($event.value)"
        readonly>
      <mat-hint>{{ getPlaceholder() }}</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
